## m3 Admin
ensure m3_admin

set m3_admin_menuButton "10"
set m3_admin_discordLog "true"
set m3_admin_discordLogURL "https://discordapp.com/api/webhooks/768567179712790538/xD77ISWV_YKQHamMvJvpoz5slRmmglC3ekAGL2cJFvfo4Pkn_w763np4aR0Y3qu8udRW"
set m3_admin_discordUnauthorizedLogURL "https://discordapp.com/api/webhooks/768567179712790538/xD77ISWV_YKQHamMvJvpoz5slRmmglC3ekAGL2cJFvfo4Pkn_w763np4aR0Y3qu8udRW"
#set m3_admin_screenshoturl "http://fivem.launchwares.com/upload.php"
set m3_admin_screenshotfield "files[]"
set m3_admin_dynamicWeather "false" ## 20 dakikada bir otomatik hava durumu değişmesini sağlar

## m3Admin Full Permissions

add_ace group.m3fullperm m3admin.fullperm allow

add_principal identifier.steam:11000011b7c7b7c group.m3fullperm ## Kaan  



## m3Admin Administrators

add_ace group.m3administrator m3admin.bringall allow
add_ace group.m3administrator m3admin.reviveall allow
add_ace group.m3administrator m3admin.wipeplayer allow
add_ace group.m3administrator m3admin.unban allow
add_ace group.m3administrator m3admin.privatemessage allow
add_ace group.m3administrator m3admin.skin allow
add_ace group.m3administrator m3admin.cleararea allow
add_ace group.m3administrator m3admin.screenshot allow
add_ace group.m3administrator m3admin.spectate allow
add_ace group.m3administrator m3admin.revive allow
add_ace group.m3administrator m3admin.heal allow
add_ace group.m3administrator m3admin.openinv allow
add_ace group.m3administrator m3admin.goto allow
add_ace group.m3administrator m3admin.noclip allow
add_ace group.m3administrator m3admin.bring allow
add_ace group.m3administrator m3admin.freeze allow
add_ace group.m3administrator m3admin.kill allow
add_ace group.m3administrator m3admin.kick allow
add_ace group.m3administrator m3admin.ban allow
add_ace group.m3administrator m3admin.giveitem allow
add_ace group.m3administrator m3admin.givevehicle allow
add_ace group.m3administrator m3admin.giveweapon allow
add_ace group.m3administrator m3admin.invisibility allow
add_ace group.m3administrator m3admin.tp allow

add_principal identifier.steam: group.m3administrator ## 
add_principal identifier.steam: group.m3administrator ## 
add_principal identifier.steam: group.m3administrator ## 


## m3Admin Moderators

add_ace group.m3moderator m3admin.bring allow
add_ace group.m3moderator m3admin.goto allow
add_ace group.m3moderator m3admin.noclip allow
add_ace group.m3moderator m3admin.revive allow

add_principal identifier.steam: group.m3moderator  ##  
add_principal identifier.steam: group.m3moderator  ## 
add_principal identifier.steam: group.m3moderator  ## 
add_principal identifier.steam: group.m3moderator  ##  
add_principal identifier.steam: group.m3moderator  ## 
add_principal identifier.steam: group.m3moderator  ## 
add_principal identifier.steam: group.m3moderator  ## 


##